/* Variáveis CSS */
:root {
    --primary-color: #343a40; /* Cor do footer e navbar */
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #fff; /* Cor do texto no footer e navbar */
    --card-hover-color: rgba(0, 0, 0, 0.1);
    --btn-primary-color: #007bff;
    --btn-primary-hover-color: #0056b3;
    --menu-link-color: #e9ecef; /* Cor dos itens do menu */
    --menu-link-hover-color: #007bff; /* Cor dos itens do menu ao passar o mouse */
    --shadow-color: rgba(0, 0, 0, 0.5); /* Cor do box shadow */
    --social-icon-hover-color: #007bff; /* Cor dos ícones das redes sociais ao passar o mouse */
    --banner-bg-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente para banners */
    --banner-text-color: #fff; /* Cor do texto nos banners */
}

/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

/* Navbar */
header {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    color: var(--text-color);
    top: 0;
    width: 100%;
    z-index: 1030;
}

.navbar-brand {
    font-weight: bold;
    background: linear-gradient(45deg, #ff8c00, #ff4500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Menu Navbar */
.navbar-nav .nav-link {
    color: var(--menu-link-color);
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: var(--menu-link-hover-color);
}

/* Carousel */
.carousel-caption {
    background-color: var(--banner-bg-color);
    padding: 20px;
    border-radius: 0.5rem;
    text-shadow: 0 0 5px var(--shadow-color);
}

.carousel-caption h5, .carousel-caption p {
    color: var(--banner-text-color);
    margin: 0;
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.25rem;
}

/* Cards */

.card {
    position: relative;
    overflow: hidden;
}

.card-img-top {
    transition: opacity 0.3s ease;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: 60px; /* Ajuste o tamanho conforme necessário */
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px; /* Arredondamento das bordas do overlay */
}

.video-overlay i {
    font-size: 1.5rem; /* Ajuste o tamanho do ícone conforme necessário */
    color: #fff;
}

.card:hover .video-overlay {
    opacity: 1;
}

.card-body {
    position: relative;
    z-index: 1; /* Garante que o conteúdo do card esteja acima do overlay */
}

